body{
    background: linear-gradient(153.07deg, #6A11CB 17.23%, #2575FC 91.45%);
    background-blend-mode: multiply;
}
/**/
.mfont{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 35px;
    line-height: 41px;
    display: flex;
    align-items: center;
    text-align: center;

    color: rgb(255, 255, 255);
}

.home{
    position: absolute;
    width: 178px;
    height: 49px;
    left: 966px;
    top: 22px;
}

.works{
    position: absolute;
    width: 178px;
    height: 49px;
    left: 1177px;
    top: 22px;
}

.posts{
    position: absolute;
    width: 178px;
    height: 49px;
    left: 1388px;
    top: 22px;
}

.about{
    position: absolute;
    width: 227px;
    height: 49px;
    left: 1566px;
    top: 22px;
}

.search{
    position: absolute;
    width: 82.58px;
    height: 35.05px;
    left: 1783px;
    top: 29px;
}
/**/
.baricon{
    position: absolute;
    width: 60px;
    height: 30px;
    left: 20px;
    top: 20px;
}
/**/
.margin{
    position: absolute;
    left: 448px;
    top: 155px;
}

.block{
    position: relative;
    width: 1024px;
    height: 176px;

    background: #FFFFFF;
    box-shadow: -1px 5px 5px rgba(0, 0, 0, 0.43);
    border-radius: 10px;
    margin-bottom: 42px;
}

.block_main{
    position: relative;
    width: 900px;
    height: 49px;
    left: 62px;
    top: 23px;

    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: 100;
    font-size: 50px;
    line-height: 49px;
    align-items: center;
    text-align: center;

    color: #000000;
}

.bar{
    position: relative;
    width: 900px;
    height: 3px;
    left: 62px;
    top: 30px;
    
    background: #000000;
    border-radius: 10px;
}

.last_change{
    position: relative;
    width: 222px;
    height: 23px;
    left: 62px;
    top: 30px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;

    color: #000000;
}

.tag{
    position: relative;
    width: 900px;
    height: 49px;
    left: 62px;
    top: 30px;

    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: 100;
    font-size: 30px;
    line-height: 43px;
    align-items: center;
    text-align: right;

    color: #2575FC;
}